$darkHighlight: #5e445e;

$lightHightlight: #cfcfcf;

@mixin freeColor{
    background-color: rgb(100, 255, 147);
    border: 1px solid rgb(52, 174, 52);
}

@mixin bookedColor{
    background-color: rgb(255, 100, 100);
    border: 1px solid rgb(174, 52, 52);
}

@mixin availableExample{
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
}


body{
    margin: 0;
    padding: 0;
}


.light{
    fill: $lightHightlight;
}

.dark {
    fill: $darkHighlight;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.scheduleRemote {
    position: relative;
    display: flex;
    height: 30px;
    margin: 0 8px 7px 8px;
}

.arrowBtn {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.colorInstruction {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    right: 0;
}

.colorInstruction span {
    margin-right: 3px;
    font-weight: 400;
    font-size: 19px;
}

.freeExample {
    margin-right: 12px;
    @include availableExample();
    @include freeColor();
}

.bookedExample {
    @include availableExample();
    @include bookedColor();
}

.scheduleRemote h3 {
    display: inline-block;
    margin: 0 5px 0 5px;
}

.schedule{
    display: flex;
    align-items: flex-end;
}

.availableTime{
    transition: 0.3s;
    border-radius: 4px;
    position: absolute;
    left: 0;
    width: calc(100% - 1px);
}

.bookingInfo {
    background-color: rgba(127, 221, 255, 0.092);
    display: none;
    height: 37px;
    width: calc(100% + 1px);
    border: 1px solid rgba(128, 128, 128, 0.291);
    border-radius: 3px;
    top: -40px;
    backdrop-filter: blur(10px);
    position: absolute;
    left: -2px;
}

.free {
    @include freeColor();
}

.free:hover {
    background-color: rgba(90, 217, 128, 0.411);
}

.free:hover .bookingInfo {
    display: block;
}

.booked {
    @include bookedColor();
}

.booked:hover {
    height: 120px;
    background-color: rgba(216, 91, 91, 0.452);
}

.booked:hover .bookingInfo {
    display: block;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td{
    position: relative; 
}

th{
    width: 140px;
}

td, th {
text-align: center;
height: 37px;
padding: 0;
}

.light tr{
    background-color: white;
}

.light tr:nth-child(even) {
    background-color: rgb(243, 243, 243);
}

.light td, th {
    border: 1px solid $lightHightlight;
}

.dark tr{
    background-color: #1e0e1e;
}

.dark tr:nth-child(even) {
    background-color: #401a40;
}

.dark td, .dark th {
    border: 1px solid $darkHighlight;
}


// SLIDE
.switchDiv {
    position: absolute;
    right: 0;
    margin: 14px 18px 0 0;
    display: flex;
    height: 35px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 27px;
    margin: 0 3px 0 3px;
}
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(245, 209, 49);
    background-image: linear-gradient( to right, rgb(255, 230, 0), rgba(96, 13, 204, 0.62));
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:hover {
    background-color: #000000;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(60, 28, 219);
  }

  input:checked + .slider:hover {
    background-color: rgb(255, 255, 255);
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(29px);
    -ms-transform: translateX(29px);
    transform: translateX(29px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }